<nav class="navbar navbar-expand-sm navbar-dark">
  <a class="navbar-brand" [routerLink]="['/events']">ngEvents</a>
  <button
    class="navbar-toggler d-lg-none bg-white"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Events</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Angular Connect</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <a class="px-3 font-smaller nav-link text-white" [routerLink]="['/user/profile']">Welcome Chukwudi</a>
  </div>
</nav>
