<h1>Login</h1>
<hr />
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="this.login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="userName">User Name:
        <em *ngIf="(loginForm.controls.userName?.touched && !loginForm.controls.userName?.value) || isEmpty">Required</em>
      </label>
      <input
        id="userName"
        (ngModel)="(userName)"
        name="userName"
        type="text"
        class="form-control"
        placeholder="User Name..."
      />
    </div>
    <div class="form-group">
      <label for="password">Password: 
        <em *ngIf="(loginForm.controls.password?.touched && !loginForm.controls.password?.value) || isEmpty">Required</em>
      </label>
      <input
        id="password"
        (ngModel)="(password)"
        name="password"
        type="password"
        class="form-control"
        placeholder="Password..."
      />
    </div>

    <span (mouseenter)="(!loginForm.controls.password?.value || !loginForm.controls.userName?.value) && isEmpty=true" (mouseleave)="(!loginForm.controls.password?.value || !loginForm.controls.userName?.value) && isEmpty=false">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.controls.password?.value || !loginForm.controls.userName?.value">Login</button>
    </span>
    <button type="button" class="btn btn-warning ml-2" (click)="cancelLogin()" >Cancel</button>
  </form>
</div>
